<div id="certificates" class="flex flex-col xl:items-center xl:justify-between justify-center px-10">
    <div class="container xl:w-[100%] min-h-full w-full shadow-sm rounded-md mb-10 text-white p-10">
        <p class="text-[48px] font-bold">Certificates</p>
        <div class="flex p-5">
            <div class="flex flex-wrap justify-center gap-[30px]">
                <div class="flex gap-[15px] m-5 w-1/3">
                    <img src="assets/img/Screenshot (835).png" alt="">
                </div>
                <div class="flex items-center gap-[15px] m-5 w-1/3">
                    <img src="assets/img/Screenshot (836).png" alt="">
                </div>
                <div class="flex items-center gap-[15px] m-5 w-1/3">
                    <img src="assets/img/Screenshot (837).png" alt="" >
                </div>
                <div class="flex items-center gap-[15px] m-5 w-1/3">
                    <img src="assets/img/Screenshot (838).png" alt="">        
                </div>
            </div>
        </div>
    </div>    
</div>