<div id="projects" class="flex flex-col xl:items-center xl:justify-between justify-center px-10">
    <div class="container xl:w-[100%] min-h-full w-full shadow-sm rounded-md mb-10 text-white p-10">
        <p class="text-[48px] font-bold">Projects</p>
        <div class="flex p-5  items-center">
            <div class="flex flex-wrap justify-center">
                <div class="flex flex-col items-center gap-[15px] m-5 w-1/4 cursor-pointer">
                    <img src="assets/img/Screenshot (1007).png" alt="">
                    <p class="text-[24px]">Fitness Web Application</p>       
                </div>
                <div class="flex flex-col items-center gap-[15px] m-5 w-1/4 cursor-pointer">
                    <img src="assets/img/Screenshot (1023).png" alt="">
                    <p class="text-[24px]">Interior Decoration Website</p>          
                </div>
                <div class="flex flex-col items-center gap-[15px] m-5 w-1/4 cursor-pointer justify-end">
                    <img src="assets/img/Screenshot (788).png" alt="" >
                <p class="text-[24px]">Arithmetic Game For Todlers</p>        
                </div>
                <div class="flex flex-col items-center gap-[15px] m-5 w-1/4 cursor-pointer justify-end">
                    <img src="assets/img/Screenshot (807).png" alt="">        
                    <p class="text-[24px]">Full Stack Todo List Web App</p>         
                </div>
                <div class="flex flex-col items-center gap-[15px] m-5 w-1/4 cursor-pointer">
                    <img src="assets/img/photo_2024-06-07_14-39-07.jpg" alt="">                     
                    <p class="text-[24px]">Full Stack Book Repository</p>         
                </div>
                <div class="flex flex-col items-center gap-[15px] m-5 w-1/4 cursor-pointer">
                    <img src="assets/img/Screenshot (1007).png" alt="">                        
                    <p class="text-[24px]">3D Motion Design</p>         
                </div>
            </div>
        </div>
    </div>    
</div>
