<!-- <div class="container h-full ml-96 mt-5 text-white">
    <div class="w-full items-center gap-60">
        <div class="w-full">
            <p class="text-5xl font-bold leading-tight">About Me</p>
            <p class="text-3xl mt-5">Personal Info</p>
            <table class="mt-5 w-full border-collapse text-2xl">
                <tr class="">
                        <th class="text-left border-b border-b-gray-400 p-4 ">First Name</th>
                        <th class="text-left border-b border-b-gray-400 p-4 ">Last Name</th>
                        <th class="text-left border-b border-b-gray-400 p-4 ">Age</th>
                        <th class="text-left border-b border-b-gray-400 p-4 ">Nationality</th>
                        <th class="text-left border-b border-b-gray-400 p-4 ">Freelance</th>
                        <th class="text-left border-b border-b-gray-400 p-4 ">Address</th>
                        <th class="text-left border-b border-b-gray-400 p-4 ">Phone</th>
                        <th class="text-left border-b border-b-gray-400 p-4 ">Email</th>
                </tr>
                    <tr class="hover:bg-custom-light-green">
                        <td class="border-b border-b-gray-400 p-4 hover:bg-slate-400">Inyene</td>   
                        <td class="border-b border-b-gray-400 p-4 hover:bg-slate-400">Eduok</td>
                        <td class="border-b border-b-gray-400 p-4 hover:bg-slate-400">23</td>
                        <td class="border-b border-b-gray-400 p-4 hover:bg-slate-400">Nigerian </td>
                        <td class="border-b border-b-gray-400 p-4 hover:bg-slate-400">Available </td>
                        <td class="border-b border-b-gray-400 p-4 hover:bg-slate-400">Abuja </td>
                        <td class="border-b border-b-gray-400 p-4 hover:bg-slate-400">+23470******** </td>
                        <td class="border-b border-b-gray-400 p-4 hover:bg-slate-400">inyeneusen.com </td>
                    </tr>
            </table>
        </div>
        <div class="text-2xl text-center mt-10">
            <p>
            Dive into my portfolio and eplore the fusion of creativity and technology.<br>
            Whether it's coding in angular, crafting web solutions, or pushing the boundaries of <br> 
            3d design - Every line of code tells a story.</p>
            <button class="border-solid border-4 border-custom-light-green rounded-xl mt-8 p-6 w-max text-2xl">CURRICULUM VITAE</button>
        </div>
    </div>
</div> -->
    <div class="container h-[48rem] text-white ml-96 ">
        <div class="">
            <p class="text-5xl font-bold leading-tight">About Me</p>
            <p class="text-[32px] mt-10">Personal Info</p>
            <table class="mt-5 border-collapse text-lg md:text-2xl">
                <thead>
                    <tr>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">First Name</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Last Name</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Age</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Nationality</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Freelance</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Address</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Phone</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-custom-light-green">
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green">Inyene</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green">Eduok</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green">23</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green">Nigerian</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green">Available</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green">Abuja</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green">+23470********</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green">inyeneusen.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="">
            <div class="text-[18px] text-center mt-10 flex justify-center gap-[100px]">
                <p class="px-2">
                    Dive into my portfolio and explore the fusion of creativity and technology.<br>
                    Whether it's coding in Angular, crafting web solutions, or pushing the boundaries of <br>
                    3D design - Every line of code tells a story.
                </p>
                <button class="border-solid border-[3.5px] border-custom-light-green rounded-[40px] w-1/6 p-3 font-bold ">DOWNLOAD CV</button>
                <i class="bi bi-circle-down"></i>
            </div> 
        </div>
    </div>