<div id="about" class="flex flex-col xl:items-center xl:justify-between justify-center px-10">
    <div class="container xl:w-[100%] min-h-full w-full shadow-sm rounded-md mb-10 text-white p-10">
        <div class="">
            <p class="text-5xl font-bold leading-tight">About Me</p>
            <p class="text-[32px] mt-10">Personal Info</p>
            <table class="mt-5 border-collapse text-lg md:text-2xl">
                <thead>
                    <tr>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">First Name</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Last Name</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Age</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Nationality</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Freelance</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Address</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Phone</th>
                        <th class="text-left border-b border-b-gray-400 p-2 md:p-4">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-custom-light-green">
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green cursor-pointer">Inyene</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green cursor-pointer">Eduok</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green cursor-pointer">23</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green cursor-pointer">Nigerian</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green cursor-pointer">Available</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green cursor-pointer">Abuja</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green cursor-pointer">+23470********</td>
                        <td class="border-b border-b-gray-400 p-2 md:p-4 hover:bg-slate-400 hover:text-custom-green cursor-pointer">inyeneusen.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="">
            <div class="p-5 text-[18px] text-center mt-10 flex justify-end gap-[100px]">
                <p class="px-2">
                    Dive into my portfolio and explore the fusion of creativity and technology.<br>
                    Whether it's coding in Angular, crafting web solutions, or pushing the boundaries of <br>
                    3D design - Every line of code tells a story.
                </p>
                <button class="border-solid border-[3.5px] border-custom-light-green rounded-[40px] w-1/6 p-3 font-bold ">DOWNLOAD CV</button>
                <i class="bi bi-circle-down"></i>
            </div> 
        </div>
    </div>
</div>
    