<div class="container">
    <span>About Me</span>
    <div class="body">
        <div class="info">
            First Name    :   Inyene      Last Name     :     Eduok
            Age    :   23      Nationality     :     Nigerian
            Freelance    :   Available      Address     :     12 Ndjamena Crescent, Wuse II. Abuja
            Phone    :   +23470********      Email     :     inyeneusen.com
        </div>
        <div class="ad">
            Dive into my portfolio and eplore the fusion of creativity and technology.
            Whether it's coding in angular, crafting web solutions, or pushing the boundaries of 3d design - Every line of code tells a story.
        </div>
        <button>Download Cv</button>
    </div>
</div>