<div id="education" class="flex flex-col xl:items-center xl:justify-between justify-center px-10">
    <div class="container xl:w-[100%] min-h-full w-full shadow-sm rounded-md mb-10 text-white p-10">
        <p class="text-[48px] font-bold">Education</p>
    <div class="items-center flex flex-col">
        <div class="flex gap-[70px] items-center ">
            <span class="">
                <p class="text-[48px] italic">Academic History</p>
            </span>
            <svg width="36" height="443" viewBox="0 0 36 443" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="12" y="29" width="12" height="414" fill="#0FE1C2"/>
                <circle cx="18" cy="18" r="18" fill="#0FE1C2"/>
                <circle cx="18" cy="259" r="18" fill="#0FE1C2"/>
            </svg>            
            <div class="mb-[20px]">
                <div class="leading-10">
                    <p class="font-bold text-[16px]">2018 - 2023</p>
                    <div class="">
                        <p class="font-bold text-[24px]">Computer Engineering</p>
                        <p>Covenant University</p>
                    </div>
                    <p>B.Eng</p>
                    <p>College</p>
                </div>
                <div class="mt-10 leading-10">
                    <p class="font-bold text-[16px]">2012 - 2018</p>
                    <div class="">
                        <p class="font-bold text-[24px]">WASSCE & SSCE Certificate</p>
                        <p>Airforce Comprehensive School</p>
                    </div>
                    <p>High School</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
